# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/empresa/node_modules
/empresa/.pnp
/empresa/.pnp.js
/cliente/node_modules
/cliente/.pnp
/cliente/.pnp.js

# testing
/empresa/coverage
/cliente/coverage

# production
/empresa/build
/cliente/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

/empresa/npm-debug.log*
/empresa/yarn-debug.log*
/empresa/yarn-error.log*
/cliente/npm-debug.log*
/cliente/yarn-debug.log*
/cliente/yarn-error.log*

admin_static
node_modules
