:root {
  --domus-color: #13a013;
}

.domus-color {
  background: var(--domus-color);
}

.domus-btn:hover, .domus-btn, .domus-btn:active {
  background-color: var(--domus-color);
  border-color: var(--domus-color);
}

.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-text-small {
  font-size: 14px;
}

.label-checked input[type="radio"]:checked + label {
  border-bottom: 3px solid var(--domus-color);
}

.label-checked input[type="radio"] {
  position: absolute;
  visibility: hidden;
}

.label-checked input[type="radio"] + label {
 cursor: pointer;
}