.uncontrolled-tab-example {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #ff9999;
}

.header{
  background-color:whitesmoke;
}

.codinm{
  margin-top: 3%;
}

.enviar{
  justify-content: flex-end ;
  display: flex;
}

.galery{
  display: flex;
  justify-content: space-between;
}
