h1{
    background-size: cover;
    position: relative;
    width: 50vw;
    height: 20vh;
    border-color: #ff8080;
    color: #33cc33;



}

.dos{
    color:#009900 ;
    text-align: center;


}

.tres{
    background-color: ;
    text-align: center;


}

.cuatro{
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;

}