
.bg-image {
  background: url("https://st.depositphotos.com/1968353/2508/i/600/depositphotos_25081731-stock-photo-reflective-skyscrapers-business-office-buildings.jpg") no-repeat;
  background-size: 60% 100%;
}
.form-section { 
  height: 875px;
  position: relative;
  width: 20%;
  left: 75%;
  top: 20%;
}
.btn-margen{
  margin-top: 25px;
  width:90% ;
}
.ingreso {
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 50px
}
.logo{
  position: relative;
  width: 300px;
  left:75%;
  top:15%;
}

