.bg-image {
  background: url("https://st.depositphotos.com/1968353/2508/i/600/depositphotos_25081731-stock-photo-reflective-skyscrapers-business-office-buildings.jpg") no-repeat;
  background-size: 60% 150%;
  height: 100%;
}
.form-section { 
  height: 950px;
  position: relative;
  width: 300px;
  left: 1250px;
  top: 250px;
}
.btn-margen{
  margin-top: 25px;
  width:300px ;
}
.ingreso {
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 50px
}
.logo{
  position: relative;
  width: 300px;
  left:1250px;
  top:200px;
}

