
.bg-image {
  background: url("image 1.png") no-repeat;
  background-size: 60% 100vh;
  position: fixed;  /* No scroll in login page */
}
.form-section { 
  display: flex;
  flex-direction: column;
    height: 100vh;
    position: relative;
    width: 20%;
    left: 75%;
    top: 10%;
}
.btn-margen{
  margin-top: 25px;
  width:90% ;
}
.ingreso {
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 50px
}
.logo{
  position: relative;
  width: 20%;
  height:20%;
  left:75%;
  top:5%;
}
